<p id="notice"><%= notice %></p>
<h4>Phone Table</h4>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
        <tr>
          <th>Person ID</th>
          <th>Phone #</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody id="phoneTable">
 <% @phone_numbers.each do |phone_number| %>
  <%= render 'phone_number_row', phone_number: phone_number %>
<% end %>
      </tbody>
  </table>
</div>

<br>
<%= link_to 'Back', root_path, class: 'btn btn-info' %>
<%= link_to 'New Phone Number', new_phone_number_path, class: 'btn btn-info', data: { bs_toggle: 'modal', bs_target: '#newPhoneModal', remote: true } %>

<div class="modal fade" id="newPhoneModal" tabindex="-1" aria-labelledby="newPhoneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPhoneModalLabel">Create Phone Number</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newPhoneForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editPhoneModal" tabindex="-1" aria-labelledby="editPhoneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPhoneModalLabel">Edit Phone Number</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="editPhoneForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showPhoneModal" tabindex="-1" aria-labelledby="showPhoneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showPhoneModalLabel">Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="showPhoneDetail">
      </div>
    </div>
  </div>
</div>