// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.centercard {
    margin: auto;
}

.card-header {
    text-align: center;
}
// .editform, input{
//     max-width: 50%;
// }
// .editform {
//     max-width: 70%;
// }
.showback {
    margin: auto;
}
.edit {
    margin-top: 1.0em;
}
.centerme {
    align-items: center;
    margin-bottom: 2.5em;
}
.update {
    
}