// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form, input{
    max-width: 50%;
}
.form {
    margin:auto;
}
.form, h2 {
    margin-top: 1em;
}