<p id="notice"><%= notice %></p>
<h4>Email Table</h4>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
        <tr>
          <th>Person ID</th>
          <th>Email</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody id="emailTable">
    <% @emails.each do |email| %>
      <%= render 'email_row', email: email %>
      <% end %>
      </tbody>
  </table>
</div>

<br>
<%= link_to 'Back', root_path, class: 'btn btn-info' %>
<%= link_to 'New Email', new_email_path, class: 'btn btn-info', data: { bs_toggle: 'modal', bs_target: '#newEmailModal', remote: true } %>

<div class="modal fade" id="newEmailModal" tabindex="-1" aria-labelledby="newEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newEmailModalLabel">Create Email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newEmailForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editEmailModal" tabindex="-1" aria-labelledby="editEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editEmailModalLabel">Edit Email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="editEmailForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showEmailModal" tabindex="-1" aria-labelledby="showEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showEmailModalLabel">Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="showEmailDetail">
      </div>
    </div>
  </div>
</div>